[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
schema = "*"
requests = "*"
beautifulsoup4 = "*"
html5lib = "*"
python-box = {version = "<6.0,>=5.0", extras = ["all"]}
EbookLib = "*"
PyYAML = "*"
questionary = "*"

[dev-packages]

[requires]
python_version = "3"
